<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Набронировал</title>
</head>
<body>
    <div>
        {% if hotels %}
            {% for hotel in hotels %}
        <div>
            <h1>{{hotel.name}}</h1>
            <h4>{{hotel.location}}</h4>
        </div>
            {% endfor %}

        {% else %}
        <div>
            <h1>Нет доступных отелей</h1>
        </div>
        {% endif %}
    </div>
</body>
</html>